<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Milestone</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mscore/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'mscore/svg/logo.svg' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-sm sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'mscore:index'%}">
                <img src="{% static 'mscore/svg/logo.svg' %}" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
                Milestone
            </a>
            <div class="d-flex">
                {% if user.is_authenticated %}
                    <a class="nav-link link-dark link-underline-hover" href="{% url 'user_manager:user_update' %}">{{ user }}</a>
                {% if user.is_staff %}
                    <a class="nav-link link-dark link-underline-hover" href="{% url 'admin:index' %}">Admin</a>
                    <a class="nav-link link-dark link-underline-hover" href="{% url 'mscore_api:root' %}">API</a>
                {% endif %}
                {% else %}
                    <a class="nav-link link-success link-underline-hover" href="{% url 'user_manager:sign_in'%}">Sign in</a>
                    <a class="nav-link link-primary link-underline-hover" href="{% url 'user_manager:sign_up' %}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>