.link-underline-hover {
    text-decoration: none;
}

.link-underline-hover:hover {
    text-decoration: underline;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#gantt{
    flex-grow: 1;
    position: relative;
}

#timeline{
    height: 100%;
    flex: 1;
    display: flex;
}

#tasks{
    width: 0px;
    padding-top: 35px;
}

.task{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    padding: 0 10px;
    color: white;
    background: #353232;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
}

.task_on_list{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.task-list{
    flex: 1;
    min-width: 300px;
    background-color: #f8f9fa;
    padding-top: 35px;
    border-right: 1px black solid;
}

.task-gantt{
    flex: 5;
    display: flex;
    overflow-x: hidden;
}

.time-column{
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.time-data{
    border-bottom: 1px black solid;
    text-align: center;
    padding: 5px 0;
    background-color: #f8f9fa;
}

.time-border{
    border-right: 1px black solid;
    flex:1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}