html,body {
  height: 100%;
}

/*
 * Task
 */

.task{
    border: 2px solid;
    border-radius:5px;
    overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.taskA{
color:#17a2b8;
}
.taskW{
color:#007bff;
}
.taskP{
color:#6c757d;
}
.taskR{
color:#28a745;
}
.taskC{
color:#ffc107;
}

#gantt {
  width: 100%;
  height: 94%;
  overflow-x: scroll;
  /* overflow: hidden;  Hide scrollbars */
}

#main {
  display: flex;
  flex-flow: column;
  height: 100%;
}


#main #content {
  flex: 1 1 auto;
}

.row{
    margin: 0px;
}

.box {
    text-align: center;
  height: 40px;
  border: solid;
  display: inline-block;
}

#monitor{
  position: fixed;
  left: 20px;
  bottom: 30px;
  color: #09f;
  z-index: 333;
}

#gantt {
    overflow-x: scroll;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    border: solid 1px black;
    white-space: nowrap;
}

#add_task {
     position: fixed;
     bottom: 20px;
     right: 20px;
}

.alert {
    color:red
}

.form-group {
    margin: 10px 0;
}

.form-group input {
    border:1px solid #ccc;
    border-radius:5px;
    height:25px;
    width:200px;
    margin: 0 10px 10px 0;
}

.form-group textarea {
    border:1px solid #ccc;
    border-radius:5px;
    width:400px;
    margin: 0 10px 10px 0;
}

.form-group select {
    border:1px solid #ccc;
    border-radius:5px;
    height:25px;
    width:200px;
    margin: 0 10px 10px 0;
}