{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mscore/css/main_page_style.css' %}">
{% if user.is_authenticated %}
    <div class="container mt-2 d-flex">
        <div class="spaces">
            <h3 class="text-center">Available spaces</h3>
            {% if spaces %}
            {% for space in spaces %}
            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="card-title">{{ space.title }}</h5>
                    <a class="stretched-link" href="{% url 'mscore:space_gantt' space.id %}"></a>
                </div>
                <div class="card-body">
                    <p class="card-text">Owner: {{ space.owner }}</p>
                    {% if space.members.count > 0 %}
                        <p class="card-text">Members:
                        {% for member in space.members.all %}
                            {{ member }}
                        {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div id="create-space" class="card my-3" style="cursor:pointer">
                <div class="card-body d-flex justify-content-center">
                    <p class="card-title fs-4">+</p>
                </div>
            </div>
        </div>
        {% if progress_tasks %}
        <div class="tasks">
            <div class="tasks-progress">
                <h3 class="text-center">Tasks in progress</h3>
                {% for task in progress_tasks %}
                <div class="card no-gutters position-relative mt-3 mx-3">
                    <div class="card-header">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <a id="{{task.id}}" class="progress_task stretched-link" data-form-url="{% url 'mscore:task_update' pk=task.id %}"></a>
                    </div>
                    <div class="card-body-hide">
                        <p class="card-text">{{ task.description }}</p>
                        <p class="card-text">Space: {{ task.space }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Deadline: {{task.deadline}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="books-table"></div>
        </div>
        {% endif %}
    </div>

    <script src="{% static 'mscore/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{% static 'mscore/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#create-space").modalForm({
                formURL: "{% url 'mscore:space_create' %}"
            });

            function updateTaskModalForm() {
                $(".progress_task").each(function (){
                    console.log($(this));
                    $(this).modalForm({
                        formURL: $(this).data("form-url")
                    });
                });
            }
            updateTaskModalForm();
        });
    </script>

    {% include "mscore/modal.html" %}

{% else %}
<div class="container mt-4">
    <h1 class="cover-heading">Milestone helps teams work more productivity.</h1>
    <p class="lead">Provides the transparency and control of individual responsibility necessary for effective
        teamwork, and allows people to organize and track tasks.</p>
</div>
{% endif %}
{% endblock %}

