{% extends "base_generic.html" %}

{% block content %}


{% if space_single.tasks.all %}
<div class="gantt">
    <div class="row mx-0 border-bottom">
        <div class="col-3"><h5>{{ space_single.title }}</h5></div>
        <div class="col">date</div>
    </div>
    {% for task in space_single.tasks.all %}
    <div class="row mx-0 border-bottom">
        <div class="col-3">
            <h6 class="task{{ task.status }}">{{ task.title }} ({{ task.get_status_display }})</h6>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No tasks are available.</p>
{% endif %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<a href="{% url 'task-create' %}" style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;"><i class="fas fa-plus-circle fa-3x"></i></a>

{% endblock %}