{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    {% if space_data %}
    {% for space in space_data %}
    <div class="card no-gutters position-relative mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ space.title }}</h5>
            <a href="{% url 'space-detail' space.id %}" class="stretched-link">Go somewhere</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No spaces are available.</p>
    {% endif %}
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<a href="{% url 'space-create' %}" style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;"><i class="fas fa-plus-circle fa-3x"></i></a>

{% endblock %}