<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milestone</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
        <nav class="navbar navbar-sm sticky-top navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="svg/logo.svg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
                    Milestone
                </a>
                <form class="d-flex">
                    <a class="nav-link link-success link-underline-hover" href="sign_in.html">Sign in</a>
                    <a class="nav-link link-primary link-underline-hover" type="submit">Sign up</a>
                </form>
            </div>
        </nav>
        <div id="gantt">
            <div id="timeline">
                <div class="task-list"></div>
                <div class="task-gantt">
                    <div class="time-column">
                        <div class="time-data">25.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">26.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">27.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">28.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">29.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">25.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">26.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">27.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">28.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">29.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">25.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">26.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">27.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">28.02</div>
                        <div class="time-border"></div>
                    </div>
                    <div class="time-column">
                        <div class="time-data">29.02</div>
                        <div class="time-border"></div>
                    </div>
                </div>
            </div>
            <div id="tasks">
                <div class="task-list" style="border-top: 1px black solid;" ></div>
                <div class="task-gantt" style="flex-direction: column;">
                    <div>0.1</div>
                    <div>0.2</div>
                    <div>0.3</div>
                    <div>0.4</div>
                </div>
            </div>
        </div>

</body>

</html>